body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.top,
.footer {
  background-color: #1F2937;
  color: white;
}

.top {
  display: flex;
  flex-direction: column;
  padding: 0px 180px; 
}

.header {
  margin-bottom: 80px;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: white;
}

.header-right,
.title-left p,
.title-left button {
  font-size: 18px;
}

.header-right {
  display: flex;
  gap: 20px
}

.header-logo {
  color: #F9FAF8;
  font-size: 24px;
  flex-shrink: 0;
  margin-right: 30px;
}

.title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 120px;
}

h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

.title-left {
  display: flex;
  flex-direction: column;
  width: 440px;
  margin-right: 30px;
  min-width: 200px;
}

p {
  margin: 0 auto;
}

.placeholder {
  background-color: #6D747D;
  padding: 50px 120px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.title-left button {
  background-color: #3882F6;
  color: white;
  width: 110px;
  border: 0;
  padding: 5px 22px;
  margin-top: 10px;
  border-radius: 8px; /* rounded corners */
}


.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

h2 {
  color: #1F2937;
  font-size: 36px;
  font-weight: 800;
}

.info {
  display: flex;
  gap: 40px;
}

.info-box {
  border:2px solid #3882F6;
  height: 170px;
  width: 170px;
  border-radius: 15px;
}

.info-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.info-group p {
  width: 170px;
  text-align: center;
}


.quote-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
  height: 400px;
}

.quote-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  color: #1F2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  width: 840px;
}

.thor,
.action {
  font-weight: 700;
  font-size: 22px;
}

.thor {
  align-self: flex-end;
  margin: 0;
}


.sign-up-section {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up {
  background-color: #3882F6;
  color: white;
  padding: 40px 80px;
  border-radius: 10px;
  width: 700px;
  display: flex;
  justify-content: space-between;
}

.sign-up-text p {
  margin-left: 0;
}

.sign-up-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sign-up button {
  background-color: #3882F6;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  padding: 0 26px;
}

.footer {
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
}